In [1]:
import pandas
import matplotlib.pyplot as plt

In [85]:
df= pandas.read_csv("C:/Users/92335/downloads/car-analysis.csv",error_bad_lines=False)

b'Skipping line 7675: expected 19 fields, saw 20\nSkipping line 18065: expected 19 fields, saw 20\nSkipping line 18734: expected 19 fields, saw 20\nSkipping line 21341: expected 19 fields, saw 20\n'
b'Skipping line 47314: expected 19 fields, saw 20\nSkipping line 48803: expected 19 fields, saw 21\n'

In [86]:
df=df[["Make","Model","Year","Views","Days Online"]]
df.head()

            Make    Model  Year Views Days Online
0     Volkswagen   Passat  2009    17      1 hour
1       Vauxhall    Astra  2011    29      1 hour
2         Toyota  Avensis  2016   655     16 days
3  Mercedes-Benz  E-Class  2010    26      1 hour
4         Nissan  Qashqai  2014   435     50 days

In [87]:

    
clean_df=df.dropna()
clean_df.head()

            Make    Model  Year Views Days Online
0     Volkswagen   Passat  2009    17      1 hour
1       Vauxhall    Astra  2011    29      1 hour
2         Toyota  Avensis  2016   655     16 days
3  Mercedes-Benz  E-Class  2010    26      1 hour
4         Nissan  Qashqai  2014   435     50 days

In [88]:
import re
for index,row in clean_df.iterrows():
        
        row["Days Online"]=row["Days Online"].strip()
        if row["Days Online"][-4:]=="hour" or row["Days Online"][-5:]=="hours":
            num=eval(re.sub('[^0-9]','', row["Days Online"]))/24
            row["Days Online"]=num
        elif row["Days Online"][-4:]=="mins" or row["Days Online"][-3:]=="min":
            num=eval(re.sub('[^0-9]','', row["Days Online"]))/(60*24)
            row["Days Online"]= num
        elif row["Days Online"][-3:]=="day" or row["Days Online"][-4:]=="days":
            num=eval(re.sub('[^0-9]','', row["Days Online"]))
            row["Days Online"]= num
    
            
        
        row["Views"]=row["Views"].replace(r',','')
        row["Views"]=eval(row["Views"])

In [89]:
aggregate_functions={"Views":'sum','Days Online':'sum'}
clean_df=clean_df.groupby(["Model","Make","Year"]).aggregate(aggregate_functions)

In [95]:

#clean_df_views=pandas.DataFrame(clean_df,columns=["Views"])
clean_df

                        Views  Days Online
Model    Make     Year
1-Series BMW      2004    378    42.000000
                  2005   5534   260.208333
                  2006   6998   275.333333
                  2007   1468    27.166667
                  2008   7903   188.666667
                  2009   7056   354.583333
                  2010   5929   140.958333
                  2011   7951   328.083333
                  2012   5521   361.000000
                  2013   8379   368.916667
                  2014   9485   343.875000
                  2015   4975   238.083333
                  2016   8326   472.208333
                  2017   4637   591.458333
                  2018   7578   760.291667
                  2019   1396   102.000000
                  2020   2969   470.750000
10       Renault  2008    136     6.000000
                  2010    264     2.000000
100      Audi     2018   2515    30.000000
         Rover    1996    210    29.000000
1000     Toyota   2004    415    50.000000
101      Vauxhall 2010    274     8.000000
101 NX   Nissan   2003    205    30.000000
106      Peugeot  1997   1263    59.000000
                  1999    297     7.000000
                  2002    386    20.000000
107      Peugeot  2006   1039    50.000000
                  2008    126    15.000000
                  2009    970    64.000000
...                       ...          ...
i40      Hyundai  2013  10667   581.541667
                  2014  11564   590.958333
                  2015   7130   682.541667
                  2016   8702   591.916667
                  2017   6891   595.250000
                  2018  10009   713.958333
                  2019   1407   110.250000
i8       BMW      2015    381     2.000000
                  2016   7007   126.000000
                  2018   2280    46.000000
                  2019   1009    13.000000
iQ       Toyota   2012    108    14.000000
ix20     Hyundai  2011   1740   185.000000
                  2012   2189   179.208333
                  2013   1652   140.750000
                  2014     51    11.000000
                  2015   1158   231.208333
                  2016   4824   418.458333
                  2017   3149   469.000000
                  2018    942   123.625000
                  2019    429   101.708333
                  2020    826   151.000000
ix35     Hyundai  2010   1342    53.666667
                  2011  11635   668.083333
                  2012  12583   964.125000
                  2013  13165   938.125000
                  2014   8652   908.916667
                  2015  12343   924.333333
                  2016    601    56.000000
model S  Tesla    2015   1678    36.000000

[5565 rows x 2 columns]

In [109]:
clean_df_views['Views Per Day']=clean_df["Views"]/Days_views['Days Online']

In [110]:
clean_df_views["Views Per Day"]=clean_df_views["Views Per Day"].astype(float)

In [112]:
clean_df_views.sort_values(by=["Views"],ascending=False)

                                    Views  Views Per Day
Model          Make          Year
Golf           Volkswagen    2010  101930      32.700441
                             2015   97255      20.989275
                             2008   85449      27.714313
                             2013   82649      21.716163
Focus          Ford          2009   81025      27.503394
3-Series       BMW           2013   78419      36.110747
Golf           Volkswagen    2011   74493      25.997266
5-Series       BMW           2011   73315      24.444433
Focus          Ford          2015   72168      16.743042
3-Series       BMW           2012   70718      43.280173
Golf           Volkswagen    2014   69243      24.398878
3-Series       BMW           2014   67316      27.502579
Golf           Volkswagen    2016   65198      16.056421
                             2012   64640      23.000188
3-Series       BMW           2010   63481      31.640306
5-Series       BMW           2008   63117      31.504024
Passat         Volkswagen    2011   62039      22.330355
                             2016   61234      18.631271
Focus          Ford          2016   60949      13.590531
3-Series       BMW           2007   60635      23.455944
Focus          Ford          2008   60532      19.911615
                             2017   59571       9.739991
5-Series       BMW           2017   57827      15.089569
Golf           Volkswagen    2017   57577      14.522532
Passat         Volkswagen    2008   57463      24.507903
E-Class        Mercedes-Benz 2014   57459      31.674576
5-Series       BMW           2016   56246      20.134618
A6             Audi          2016   55893      23.006225
3-Series       BMW           2008   55519      30.374906
A4             Audi          2009   54881      29.256853
...                                   ...            ...
Cruze          Chevrolet     2010      17      17.000000
XJ             Jaguar        2019      17       8.500000
Montana        Hyundai       2017      16      16.000000
Corolla Verso  Toyota        2006      16      16.000000
                             2018      16       8.000000
Canter         Mitsubishi    2007      16      16.000000
Grand C-Max    Ford          2013      15      15.000000
Tourneo Custom Ford          2019      15      15.000000
Master         Renault       2020      14       4.666667
Meriva         Vauxhall      2015      14      14.000000
Citan 109 Cdi  Mercedes-Benz 2013      13      13.000000
Demio          Mazda         2010      12      12.000000
Felicia        Skoda         2016      12      12.000000
GS             Lexus         2006      12      12.000000
Myvi           Perodua       2013      11      11.000000
911            Porsche       2016      10      10.000000
WAGON R PLUS   Suzuki        2004      10      10.000000
March          Nissan        2017      10      10.000000
C3 Picasso     Citroen       2016      10      10.000000
Ix20           Hyundai       2020      10      10.000000
Ateca          Seat          2017       8       8.000000
QASHQAI        Nissan        2007       7       7.000000
Courier        Ford          2015       7       7.000000
Wish           Toyota        2007       7       7.000000
C1             Citroen       2017       5       5.000000
Fit            Honda         2017       4       4.000000
Mirage         Mitsubishi    2015       4       4.000000
NV400          Nissan        2016       3       3.000000
Dispatch       Citroen       2019       2       2.000000
Altea          Seat          2013       2       2.000000

[5565 rows x 2 columns]

In [94]:
clean_df_days=pandas.DataFrame(clean_df,columns=["Days Online"])
clean_df_days["Days Online"]=clean_df_days["Days Online"].astype(float)
clean_df_days.sort_values("Days Online")

                                                Days Online
Model                       Make          Year
Wish                        Toyota        2007     0.005556
Mirage                      Mitsubishi    2015     0.011806
GS                          Lexus         2006     0.025694
QASHQAI                     Nissan        2007     0.025694
WAGON R PLUS                Suzuki        2004     0.026389
Scirocco                    Volkswagen    2008     0.034722
ML-Class                    Mercedes-Benz 2003     0.040278
Demio                       Mazda         2010     0.041667
Altea                       Seat          2013     0.041667
911                         Porsche       2016     0.041667
Doblo                       Fiat          2004     0.041667
Fit                         Honda         2017     0.083333
RC 300H                     Lexus         2016     0.083333
                                          2017     0.083333
March                       Nissan        2017     0.083333
Citan 109 Cdi               Mercedes-Benz 2013     0.125000
Agila                       Vauxhall      2014     0.125000
Dispatch                    Citroen       2019     0.166667
XC90                        Volvo         2011     0.166667
C350                        Mercedes-Benz 2016     0.166667
Cruze                       Chevrolet     2010     0.166667
190                         Mercedes-Benz 1993     0.208333
Meriva                      Vauxhall      2015     0.208333
Land Cruiser Icon D-4D Auto Toyota        2016     0.250000
Ateca                       Seat          2017     0.250000
RX                          Lexus         2004     0.333333
C1                          Citroen       2017     0.333333
Model S                     Tesla         2017     0.333333
Cayenne                     Porsche       2004     0.333333
M3                          BMW           2015     0.375000
...                                                     ...
Focus                       Ford          2007  2690.567361
5-Series                    BMW           2018  2735.291667
Tiguan                      Volkswagen    2017  2739.875000
Passat                      Volkswagen    2011  2778.236111
5-Series                    BMW           2016  2793.497222
Focus                       Ford          2018  2798.416667
Golf                        Volkswagen    2012  2810.411806
                                          2014  2837.958333
QASHQAI                     Nissan        2019  2849.797222
Golf                        Volkswagen    2011  2865.416667
C-HR                        Toyota        2018  2887.208333
Focus                       Ford          2009  2946.000000
5-Series                    BMW           2011  2999.251389
Focus                       Ford          2008  3040.034722
Golf                        Volkswagen    2008  3083.208333
                                          2010  3117.083333
Focus                       Ford          2014  3126.375000
Passat                      Volkswagen    2017  3187.833333
                                          2016  3286.625000
Tucson                      Hyundai       2017  3380.500000
Golf                        Volkswagen    2018  3434.819444
Octavia                     Skoda         2017  3446.247222
Golf                        Volkswagen    2013  3805.875000
5-Series                    BMW           2017  3832.250000
Golf                        Volkswagen    2017  3964.666667
                                          2016  4060.556250
Focus                       Ford          2015  4310.327778
                                          2016  4484.666667
Golf                        Volkswagen    2015  4633.556944
Focus                       Ford          2017  6116.125000

[5565 rows x 1 columns]

In [105]:
Days_views=pandas.DataFrame(clean_df,columns=["Days Online"])

In [107]:
for index,row in Days_views.iterrows():
    if row['Days Online']<1:
        row['Days Online']=1

In [108]:
Days_views

                        Days Online
Model    Make     Year
1-Series BMW      2004    42.000000
                  2005   260.208333
                  2006   275.333333
                  2007    27.166667
                  2008   188.666667
                  2009   354.583333
                  2010   140.958333
                  2011   328.083333
                  2012   361.000000
                  2013   368.916667
                  2014   343.875000
                  2015   238.083333
                  2016   472.208333
                  2017   591.458333
                  2018   760.291667
                  2019   102.000000
                  2020   470.750000
10       Renault  2008     6.000000
                  2010     2.000000
100      Audi     2018    30.000000
         Rover    1996    29.000000
1000     Toyota   2004    50.000000
101      Vauxhall 2010     8.000000
101 NX   Nissan   2003    30.000000
106      Peugeot  1997    59.000000
                  1999     7.000000
                  2002    20.000000
107      Peugeot  2006    50.000000
                  2008    15.000000
                  2009    64.000000
...                             ...
i40      Hyundai  2013   581.541667
                  2014   590.958333
                  2015   682.541667
                  2016   591.916667
                  2017   595.250000
                  2018   713.958333
                  2019   110.250000
i8       BMW      2015     2.000000
                  2016   126.000000
                  2018    46.000000
                  2019    13.000000
iQ       Toyota   2012    14.000000
ix20     Hyundai  2011   185.000000
                  2012   179.208333
                  2013   140.750000
                  2014    11.000000
                  2015   231.208333
                  2016   418.458333
                  2017   469.000000
                  2018   123.625000
                  2019   101.708333
                  2020   151.000000
ix35     Hyundai  2010    53.666667
                  2011   668.083333
                  2012   964.125000
                  2013   938.125000
                  2014   908.916667
                  2015   924.333333
                  2016    56.000000
model S  Tesla    2015    36.000000

[5565 rows x 1 columns]